@font-face {
    font-family: "noto";
    src: url("./../fonts/NotoSansSC-Regular.otf");
}
@font-face {
    font-family: "noto";
    src: url("./../fonts/NotoSansSC-Medium.otf");
    font-weight: medium;
}
@font-face {
    font-family: "noto";
    src: url("./../fonts/NotoSansSC-Bold.otf");
    font-weight: bold;
}

:root,
.theme-light {
    --font: normal 400 14px/1.5 "noto", -apple-system, BlinkMacSystemFont,
        Oxygen, Ubuntu, Cantarell, Consolas, "Open Sans", "Helvetica Neue",
        sans-serif;
    --transition: all 0.24s ease;

    --background: #fff;
    --background-secondary: #efeef1;
    --background-opacity: rgba(255, 255, 255, 0.6);
    --color: #2a2a2a;
    --color-secondary: #4a4a4a;
    --color-slight: #999;
    --header-height: 36px;
    --radius: 8px;
    --shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    --blur: 4px;
}
.theme-dark {
    --background: #2a2a2a;
    --background-secondary: #4a4a4a;
    --background-opacity: rgba(0, 0, 0, 0.6);
    --color: #fff;
    --color-secondary: #efeef1;
    --color-slight: #999;
}
